node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json

# for Capacitor
android
ios

# for IDEs and editors (.vscode is covered by node_modules)
.idea
.fleet

/src-tauri

src/lib/types/Supabase.ts
